<div class="ui grid">
  <div class="six wide column">
    <div class="location-view-container">
      <div class="ui piled green segment">

        <h3 name="name"></h3>
        <address>
          <span name="address"></span>
          <span name="city"></span>
          <span class="comma">, </span>
          <span name="province"></span>
          <span name="country"></span>
          <span class="comma">, </span>
          <span name="postal"></span>
        </address>

        <div class="tel">
          <a href="" name="phone"></a>
        </div>

      </div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="metrics-view-container">
      <div class="ui piled segment blue">
        <div class="ui grid">
          <div class="two wide column">
            <div>
              <h3 name="total_listings">0</h3>
            </div>
            <span class="label">Total listings</span>
          </div>
          <div class="two wide column">
            <div>
              <h3 name="verified_listings">0</h3>
            </div>
            <span class="label">Verified listings</span>
          </div>
          <div class="two wide column">
            <div>
              <h3 name="not_me_listings">0</h3>
            </div>
            <span class="label">Not me listings</span>
          </div>
          <div class="two wide column">
            <div>
              <h3 name="pending_listings">0</h3>
            </div>
            <span class="label">Pending listings</span>
          </div>
          <div class="two wide column">
            <div>
              <h3 name="duplicate_listings">0</h3>
            </div>
            <span class="label">Duplicate listings</span>
          </div>
          <div class="two wide column">
            <div>
              <h3 name="total_reviews">0</h3>
            </div>
            <span class="label">Total reviews</span>
          </div>
          <div class="two wide column">
            <div>
              <h3 name="verified_reviews">0</h3>
            </div>
            <span class="label">Verified reviews</span>
          </div>
          <div class="two wide column">
            <div>
              <h3 name="reviews_requiring_attention">0</h3>
            </div>
            <span class="label">Reviews requiring attention</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui divider">

</div>

<div class="listing-collection-view-container">
  <div class="ui raised segment">
    <div class="ui ribbon label blue">Listings</div>
    <table class="ui table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Domain</th>
        <th>Status</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

</div>

<div class="review-collection-view-container">
  <div class="ui raised segment">
    <div class="ui ribbon label red">Reviews</div>
    <table class="ui table">
      <thead>
      <tr>
        <th>Listing ID</th>
        <th>Domain</th>
        <th>Rating</th>
        <th>Author</th>
        <th>Date</th>
        <th>Excerpt</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

</div>