<form class="ui form segment" action="#/run-location/request" method="POST">

  <div class="ui ribbon label blue">Run location</div>

  <div class="field">
    <label for="run-location-name">Name</label>
    <input type="text" required="required" id="run-location-name" name="name">
  </div>

  <div class="field">
    <label for="run-location-address">Address</label>
    <input type="text" required="required" id="run-location-address" name="address">
  </div>

  <div class="field">
    <label for="run-location-city">City</label>
    <input type="text" required="required" id="run-location-city" name="city">
  </div>

  <div class="field">
    <label for="run-location-province">Province</label>
    <input type="text" required="required" id="run-location-province" name="province">
  </div>

  <div class="field">
    <label for="run-location-country">Country</label>
    <input type="text" required="required" id="run-location-country" name="country">
  </div>

  <div class="field">
    <label for="run-location-postalCode">Postal code</label>
    <input type="text" required="required" id="run-location-postalCode" name="postal">
  </div>

  <div class="field">
    <label for="run-location-phone">Phone</label>
    <input type="text" required="required" id="run-location-phone" name="phone">
  </div>


  <div class="field">
    <label for="run-location-api_key">Override account API key</label>
    <input type="text" id="run-location-api_key" name="account_api_key">
  </div>

  <button class="ui blue submit button" type="submit">Run Location</button>

</form>